/*desktop*/
body {
  background-color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #c3c3c3;
  margin: 0;
  padding: 20px; 
}

header {
  text-align: center; 
}

.menu-icon {
  display: none; 
  font-size: 2rem; 
  cursor: pointer;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

.nav-list li {
  margin: 0 15px; 
}

#About,
#Experience,
#Skills,
#Projects,
#Connect {
  padding: 20px; 
  margin: 20px auto;
  border-radius: 15px;
  background-color: #2d2d2d;
  max-width: 800px; 
}


h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #1e90ff;
}
h2 {
  font-size: 1.65rem;
  color: #ecff1e;
}
ul li {
  background-color: #313131;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #e0ff42;
}
a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #e9e9e9;
  text-decoration: underline;
}
#Experience{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.job_title {
  font-weight: bold;
  flex: 2;
  color: #ffffff;
}

.job_dates {
  flex: 1;
  text-align: right;
  font-style: italic;
  color: #c0c2c4;
}

.job_description {
  flex: 100%;
  margin-top: 10px;
  color: #c0c2c4;
}

#Connect a {
  padding: 5px 10px;
  border: 1px solid #1e90ff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#Connect a:hover {
  background-color: #1e90ff;
  color: #fff;
}

#Projects ul {
  list-style-type: none;
  padding: 0;
}

#Projects ul li {
  background-color: #313131;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #e0ff42;
}


/* Tablet Media Query*/
@media (max-width: 991px) { 
  #About,
  #Experience,
  #Skills,
  #Projects,
  #Connect {
      padding: 15px; 
      background-color: #353535; 
  }

  h1 {
      font-size: 2.5rem; 
      color: #00ffff; 
  }

  h2 {
      font-size: 1.5rem; 
      text-align: center; 
  }

  ul li {
      padding: 8px; 
      margin: 3px 0; 
  }

  nav {
      text-align: center; 
      margin-bottom: 20px; 
  } 
}

/* Mobile Media Query*/

@media (max-width: 767px) {
  #About,
  #Experience,
  #Skills,
  #Projects,
  #Connect {
      padding: 10px; 
      border-radius: 10px; 
  }

  h1 {
      font-size: 2rem; 
      text-shadow: 1px 1px #000000; 
  }

  h2 {
      font-size: 1.2rem; 
      font-weight: normal; 
  }

  ul li {
      padding: 5px; 
      margin: 2px 0; 
  }

  nav {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
  }
}